{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
 
        {% if name %}
       <h1> Wellcom {{username}}</h1>
            <form method="post">
                {% csrf_token %}
                <input type="submit" name="logout" value="logout" ></input>
         </form>
        {% for x in product %}
        <div class="figure-caption">
            <div style="width: 20%; float: left;" >
                <div class="card-body">
                    <a href="{{ x.item_id}}">
                    <img src="{{x.img}}" alt="Bootstrap" width="100em" height="100em" >
                    <h5 class="card-title">{{x.name}}</h5> 
                    <h5 class="card-title">{{x.price}} Rs</h5> </a>
              </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        please
        <a href="signin"> <h1>Signin</h1></a>
        {% endif %}

 {% endblock %}
 