<html>
<head>
	<!-- <script>
		//function that display value
		function dis(val)
		{
			document.getElementById("result").value+=val
		}
		
		//function that evaluates the digit and return result
		function solve()
		{
			let x = document.getElementById("result").value
			let y = eval(x)
			document.getElementById("result").value = y
		}
		
		//function that clear the display
		function clr()
		{
			document.getElementById("result").value = ""
		}
	</script> -->
	<!-- for styling -->
	<style>
		.title{
		margin-bottom: 10px;
		text-align:center;
		width: 210px;
		color:green;
		border: solid black 2px;
		}

		input[type="button"]
		{
		background-color:green;
		color: black;
		border: solid black 2px;
		width:100%
		}

		input[type="text"]
		{
		background-color:white;
		border: solid black 2px;
		width:100%
		}
	</style>
</head>
<!-- create table -->
<body  >
    <form method="post" action="#">
        {% csrf_token %}
        

        
    <center >
	
	<h1>Advance Calculator</h1>
	<table border="1"  >
		<tr>
			<h1><td colspan="3"><input style="height: 1em;width: 3em;padding: 0%;border: 0ch;margin: 0%;font-size:100px; "  type="text" id="result" value="{{up}}"/></td></h1>
			<!-- clr() function will call clr to clear all value -->
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="c" name="data"/> </td>
		</tr>
		<tr>
			<!-- create button and assign value to each button -->
			<!-- dis("1") will call function dis to display value -->
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
			" type="submit" value="1" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="2" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="3" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="/" name="data"/> </td>
		</tr>
		<tr>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="4" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="5" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="6" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="-" name="data"/> </td>
		</tr>
		<tr>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="7" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="8" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="9" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="+" name="data"/> </td>
		</tr>
		<tr>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="." name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="0" name="data"/> </td>
			<!-- solve function call function solve to evaluate value -->
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="=" name="data"/> </td>
			<td><input style="height: 1em;width: 1em;padding: 0%;border: 0ch;margin: 0%;font-size:100px;
				" type="submit" value="*" name="data"/> </td>
		</tr>
	</table>
    
    </form>
</center>
</body>

</html>
