{% extends "base.html" %}
{% block title %} login {% endblock %}

{% block content %}
<div class="container">
    <form  class="col-sm-3 col-form-label">
        <div class="row">
    <div class="row">
      <input type="email" class="form-control" placeholder="email" id="email" >
    </div>
    <div class="row">
      <input type="password" class="form-control" placeholder="password" id="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mb-2">submit</button>
</form>
</div>
{% endblock %}