<html>
    <title> calculate </title>
    <body>
    <form method="post" >
        {% csrf_token %}
        <div >
            <label for="textarea">
             <textarea type="text" name="ab" value="value1" style="padding: 2.5% 7%; font-size: 25px;">{{o}} </textarea>
          
            <button type="submit" name="v1" value="q" style="padding: 2.5% 7%; font-size: 25px;"> Execute</button>
            
           <h1 style="border: 5% 5% ; text-align: right;">
            output:{{data}}</h1> <hr>
        </label>
        </div>
        <div>
            
            <input  type="submit" name="v1" value="1" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="2" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="3" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="+" style="padding: 2.5% 7%;font-size: 25px;"> 
            <input type="submit" name="v1" value="**" style="padding: 2.5% 7%;font-size: 25px;"> 

        </div>
        <div>
            <input type="submit" name="v1" value="4" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="5" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="6" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="-" style="padding: 2.5% 7%;font-size: 25px;"> 
            <input type="submit" name="v1" value="//" style="padding: 2.5% 7%;font-size: 25px;"> 

        </div>
        <div>
            <input type="submit" name="v1" value="7" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="8" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="8" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="*" style="padding: 2.5% 7%;font-size: 25px;"> 
            <input type="submit" name="v1" value="%" style="padding: 2.5% 7%;font-size: 25px;"> 

        </div>
        <div>
            <input type="submit" name="v1" value="=" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="0" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input  type="submit"  name="v1" value="enter" style="padding: 2.5% 7%; font-size: 25px;"> 
            <input type="submit" name="v1" value="/" style="padding: 2.5% 7%;font-size: 25px;"> 
            <input type="submit" name="v1" value="." style="padding: 2.5% 7%;font-size: 25px;"> 

        </div>
    </form>
    </body>
</html>